<clr-modal [(clrModalOpen)]="releaseToggles.showEditToggleModal">
    <h3 class="modal-title">Edit Toggle</h3>
    <div class="modal-body">
        <form>
            <section class="form-block">
                <div class="form-group">
                    <label for="toggle-category">Category</label>
                    <div class="select">
                        <select id="toggle-category" name="toggle-category">
                            <option value="Default">Select Employee Type...</option>
                            <option value="test1">Test 1</option>
                            <option value="test2">Test 2</option>
                            <option value="test3">Test 3</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="toggle-name">Name</label>
                    <input id="toggle-name" name="toggle-name" type="text" placeholder="Name" size="45" [(ngModel)]="toggle-name">
                </div>

                <div class="form-group">
                    <label for="toggle-description">Description</label>
                    <textarea id="toggle-description" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <div class="toggle-switch">
                        <input type="checkbox" id="toggle-active">
                        <label for="toggle-active">Active</label>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="hideEditToggleModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal>