<clr-modal [clrModalOpen]="(releaseToggles | async)?.showEditToggleModal">
  <h3 class="modal-title">Edit Toggle</h3>
  <div class="modal-body">
    <form [connect]="['releaseToggles', 'editReleaseToggle']">
      <section class="form-block">
        <div class="form-group">
          <label for="category">Category</label>
          <div class="select">
            <select id="category"
                    name="category"
                    ngModel>
              <option value="Unity">Unity</option>
              <option value="Dashboard">Dashboard</option>
              <option value="Titan">Titan</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input id="name"
                 name="name"
                 type="text"
                 placeholder="Name"
                 size="45"
                 ngModel>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description"
                    name="description"
                    rows="5"
                    ngModel></textarea>
        </div>

        <div class="form-group">
          <div class="toggle-switch">
            <input type="checkbox"
                   id="active"
                   name="active"
                   ngModel>
            <label for="active">Active</label>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="hideEditToggleModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="requestToggleEdit()">Update</button>
  </div>
</clr-modal>
